language: python
cache: pip
sudo: false

branches:
  # to disable duplicated builds from PR/branches
  only:
    - "master"
    - "develop"

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

env:
  - DJANGO=2.2
  - DJANGO=3.0
  - DJANGO=3.1
  - DJANGO=master

matrix:
  fast_finish: true
  exclude:
    - { python: "3.5", env: DJANGO=master }
    - { python: "3.5", env: DJANGO=2.2 }
    - { python: "3.5", env: DJANGO=3.0 }

  allow_failures:
    - env: DJANGO=master

script:
  - tox

install:
  - pip install tox tox-travis

after_success:
  - pip install codecov
  - codecov -e TOXENV,DJANGO

notifications:
  email: false
